body div {
  font-family: "Lato", sans-serif;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

#logo {
  font-size: 60px;
  font-weight: 600;
}

#logo:hover {
  color: #064749;
}

.booking-img {
  width: 150px !important; /* Adjust width to fill the container */
  height: 100% !important;
  object-fit: cover;
  vertical-align: top;
  margin-right: 0%;
  padding-right: 0%;
}

#category {
  font-size: 18px;
  font-weight: 550;
  padding-left: 20px;
  padding-right: 20px;
}

#category:hover {
  color: #064749;
}

/* Owl Carousel */
.owl-carousel .item {
  width: 100%;
  height: 750px;
  overflow: hidden;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-wrapper {
  position: relative;
}

#card-carousel {
  position: absolute;
  width: 30vw; /* Adjust based on viewport width */
  max-width: 18rem; /* Maximum size */
  min-height: 8rem;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  overflow: hidden; /* Ensures content fits in the card */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional styling */
}

#card-carousel h1 {
  font-weight: 700;
}

#card-carousel .card-body {
  padding: 2vw;
}

#card-carousel .card-text {
  font-size: 1.2vw;
}

@media (max-width: 1024px) {
  #card-carousel {
    width: 25vw;
    top: 35%;
  }

  #card-carousel h1 {
    font-size: 3vw; /* Larger font for smaller screens */
  }

  #card-carousel .card-text {
    font-size: 1.5vw;
  }
}

/* Adjust sizes for smaller screens */
@media (max-width: 650px) {
  #card-carousel {
    width: 30vw; /* Larger percentage for smaller screens */
    max-width: none; /* Allows card to grow */
    top: 22%;
  }

  #card-carousel h1 {
    font-size: 4vw; /* Larger font for smaller screens */
  }

  #card-carousel .card-text {
    font-size: 2vw;
  }
}

.search-container {
  max-width: 100%;
  margin: auto;
  padding: 0.7rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 80%; /* Adjust width as necessary */
  border-radius: 0.5rem;
}

.search-container-2 {
  max-width: 100%;
  margin: auto;
  padding: 0.7rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
}

.search-bar {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr auto auto 0.2fr auto;
  gap: 0.1rem;
  align-items: center;
}

.search-bar input,
.search-bar button {
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
}

.search-bar input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

.search-bar input[type="number"]::-webkit-outer-spin-button,
.search-bar input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #064749;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #053b3d;
}

.search-bar button.increment,
.search-bar button.decrement {
  padding: 0.5rem;
  font-size: 1rem;
  width: 2.5rem;
  background-color: #e0e0e0;
  color: #333;
}

@media (max-width: 750px) {
  .search-container {
    top: 85%;
  }
  .search-bar {
    display: grid;
    grid-template-columns: auto;
    gap: 0.1rem;
    align-items: center;
  }

}

.booking-img{
  width: 200px;
}

.list-group-item {
  margin-left: -38px !important;
  width: 100%;
}

.list-group-item .list-group-item-action {
  padding-bottom: 17px;
  width: none;
}

.showcase-section {
margin-top: 10vh;
}

#google-maps-canvas img.text-marker {
  max-width: none !important;
  background: none !important;
}
img {
  max-width: none;
}

.crop-img {
  width: 100%; /* Adjust width to fill the container */
  height: 150px;
  object-fit: cover;
  vertical-align: top;
  border-style: solid;
  border-width: 2px;
  border-color: #b3b3b3;
}

.crop-img-2 {
  width: 100%;
  height: 160px;
  border-style: solid;
  border-width: 2px;
  border-color: #b3b3b3;
  border-radius: 2rem;
  margin-top: 0.5rem;
}

#img-1 {
  border-radius: 2rem 0 0 0;
}

#img-2 {
  margin-left: -24px;
}

#img-3 {
  border-radius: 0 0 0 2rem;
}

.heading-section {
  background-color: #dedede;
  border-radius: 0rem 2rem 2rem 0rem;
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  padding: 40px !important; /* Adjust padding as needed */
  margin-left: -36px;
}

.main-heading {
  text-decoration: solid;
  font-weight: 600;
  font-size: xx-large;
}

.sub-heading {
  font-size: small !important;
}

.title {
  margin-top: 7rem;
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}

/* Feature Section */
.feature-card {
  border: none !important;
  border-radius: 1.5rem !important;
  background-color: #dedede !important;
}

.icon-feature {
  font-size: 2rem; /* Adjust icon size as needed */
  margin-bottom: 1rem;
}

.feature-card .card-body {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left !important;
}

.feature-heading {
  font-weight: 550;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.feature-text {
  font-size: 0.9rem;
}

.feature-card .main-heading {
  font-weight: 550;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.sub-heading {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.feature-section {
  padding: 4rem 0;
}

/* Card */
.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #064749 !important;
  border-color: #064749 !important;
}

.btn-primary:hover {
  background-color: #053b3d !important;
  border-color: #053b3d !important;
}

.btn-outline-primary {
  color: #064749 !important;
  background-color: #fff !important;
  border-color: #064749 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #064749 !important;
  border-color: #064749 !important;
}

.booking-shell {
  background-color: #dedede;
  margin-left: 0;
  margin-right: 0;
}

.booking {
  color: #fff;
  margin-top: 9rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.footer {
  padding-top: 12vw;
  padding-bottom: 4vw;
}

#copyright {
  margin-top: 34px;
}

.footer li {
  margin-bottom: 7px; /* Or any other value you prefer */
}

.footer h5 {
  font-weight: 600;
}

.footer-link {
  text-decoration: none;
  color: black;
}

#footer-icon {
  color: #064749;
  padding-right: 10px;
}
